<div id="<%= dom_id user %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= user.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Github address:</strong>
    <%= user.github_address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Github name:</strong>
    <%= user.github_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Followers:</strong>
    <%= user.followers %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Following:</strong>
    <%= user.following %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Stars:</strong>
    <%= user.stars %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Contributions last year:</strong>
    <%= user.contributions_last_year %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Profile image url:</strong>
    <%= user.profile_image_url %>
  </p>

</div>
